/* .row {
  padding: 20px;
  background-color: aliceblue;
}
.col {
  padding: 20px;
  background-color: orange;
} */
@font-face {
  font-family: "Oswald";
  src: url("assets/Oswald-VariableFont_wght.ttf");
}
@font-face {
  font-family: "ABeeZee";
  src: url("assets/ABeeZee-Regular.ttf");
}
@font-face {
  font-family: "Agdasima";
  src: url("assets/Agdasima-Regular.ttf");
}
@font-face {
  font-family: "Anton";
  src: url("assets/Anton-Regular.ttf");
}
.mainBody_app {
  margin-top: 150px;
  margin-left: 15px;
  margin-right: 10px;
}
html,
body {
  background-color: black;
}
.lineup_title {
  font-family: "ABeeZee";
  font-size: 32px;
}
.match_name {
  color: #6d6d6d;
  font-family: "Oswald";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.timeline-title {
  margin-top: 48px;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline-line {
  flex-grow: 1;
  height: 1px;
  background-color: white;
  margin-left: 10px;
}

.half {
  color: #bebebe;
  font-family: Oswald;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
